pytorch
torchvision
torchaudio
pytorch-cuda==12.1
transformers
accelerate
safetensors
datasets
peft
bitsandbytes
auto-gptq
optimum[exporters]
mergekit
umap-learn
scikit-learn
scipy
numpy
pandas
wandb
tensorboard
tqdm
rich
typer
click
hydra-core
einops
xformers
flash-attn
loguru
pyyaml
sentencepiece
protobuf
